@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family:'Muli',sans-serif;
    background-color:#fafafa;
}

.magic{
    background-color: #f9ca24;
    color:#fff;
    border-radius:3px;
    font-size:16px;
    padding: 12px 20px;
    cursor:pointer;
    position:fixed;
    border:0;
    top:20px;
    letter-spacing:1px;
    box-shadow: 0 3px rgba(249,202,36,0.5);
}

.magic:active{

    box-shadow:none;
    transform : translateY(2px);
}

.boxes{
    margin-top:80px;
    height:500px;
    width:500px;
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    transition:.4s ease;
}

.boxes.big{
    height:600px;
    width:600px;
}

.boxes.big .box{
    transform:rotateZ(360deg);
}
.box{
    background-image:url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
    background-repeat:no-repeat;
    background-size:500px 500px;
    background-color:yellow;
    position:relative;
    height:125px;
    width:125px;
    transition:.4s ease;
}

.box::after{
    content:'';
    background-color:#f6e58d;
    position:absolute;
    top:8px;
    right:-15px;
    height:100%;
    width:15px;
    transform:skewY(45deg);
}

.box::before{
    content:'';
    background-color:#f9ca24;
    position:absolute;
    bottom:-15px;
    left:8px;
    height:15px;
    width:100%;
    transform:skewX(45deg);
}

